<html ng-app="app">
<head>
    <script type="text/javascript" src="js/angular.js"></script>
    <script type="text/javascript" src="js/ws-client-test.js"></script>
    <script type="text/javascript" src="js/initStuff.js"></script>
    <link rel="stylesheet" href="css/client-test.css">
</head>
<body>

    <div ng-controller="paramTable">

        <table id="1" class="tftable" border="1">
            <tr>
                <th>Protocol:</th>
                <th>Server Url:</th>
                <th>Port:</th>
            </tr>
            <tr>
                <td><input type="text" size="20" maxlength="20" ng-model="protocol"></td>
                <td><input type="text" size="50" maxlength="50" ng-model="serverUrl"></td>
                <td><input type="text" size="20" maxlength="20" ng-model="port"></td>
            </tr>
        </table><br>

        <span class="result-api-call">base connect url: {{openWSUrl}}</span><br><br>

        <table id="tfhover2" class="tftable" border="1">
            <tr>
                <th></th>
                <th>Device 1</th>
                <th>Device 2</th>
                <th>Device 3</th>
                <th>Device 4</th>
            </tr>
            <tr>
                <td class="vertical-header">Device Id</td>
                <td><input class="table-input" ng-model="dev1id"></td>
                <td><input class="table-input" ng-model="dev2id"></td>
                <td><input class="table-input" ng-model="dev3id"></td>
                <td><input class="table-input" ng-model="dev4id"></td>
            </tr>
            <tr>
                <td class="vertical-header">Latitude</td>
                <td><input class="table-input" ng-model="dev1lat"></td>
                <td><input class="table-input" ng-model="dev2lat"></td>
                <td><input class="table-input" ng-model="dev3lat"></td>
                <td><input class="table-input" ng-model="dev4lat"></td>
            </tr>
            <tr>
                <td class="vertical-header">Longitude</td>
                <td><input class="table-input" ng-model="dev1lon"></td>
                <td><input class="table-input" ng-model="dev2lon"></td>
                <td><input class="table-input" ng-model="dev3lon"></td>
                <td><input class="table-input" ng-model="dev4lon"></td>
            </tr>
            <tr>
                <td class="vertical-header">Payload</td>
                <td><input class="table-input" ng-model="dev1pl"></td>
                <td><input class="table-input" ng-model="dev2pl"></td>
                <td><input class="table-input" ng-model="dev3pl"></td>
                <td><input class="table-input" ng-model="dev4pl"></td>
            </tr>
        </table>

        <br>

        <button ng-click="connect1()">connect 1</button>
        <button ng-click="deliver1()">deliver 1</button><br>

        <button ng-click="connect2()">connect 2</button>
        <button ng-click="deliver2()">deliver 2</button><br>

        <button ng-click="connect3()">connect 3</button>
        <button ng-click="deliver3()">deliver 3</button><br>

        <button ng-click="connect4()">connect 4</button>
        <button ng-click="deliver4()">deliver 4</button><br><br>

        <div class="received-stuff-header">Data received:</div>
        <span class="received-stuff-header">dev1:</span><span class="received-stuff"> {{dev1msg}}</span><br>
        <span class="received-stuff-header">dev2:</span><span class="received-stuff"> {{dev2msg}}</span><br>
        <span class="received-stuff-header">dev3:</span><span class="received-stuff"> {{dev3msg}}</span><br>
        <span class="received-stuff-header">dev4:</span><span class="received-stuff"> {{dev4msg}}</span>

    </div>

</body>
</html>
